@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #000000;
}

html[data-theme='dark'] {
  --bg-color: #000000;
  --text-color: #ffffff;
}


.hidden-section {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden-section {
      transition: none;
  }
}


/* Default styles for light mode */

/* Apply these variables to your body or main tag */
body, main {
  background-color: var(--bg-color);
  color: var(--text-color);
  /* transition: background-color 0.3s, color 0.3s; */
}
